.navContainer {
  // width: 60%;
  .nav {
    &.active {
      background-color: #4CAF50;
    }
    &:hover {
      background-color: #ddd;
    }
    flex-grow: 1;
    color: white;
    text-align: center;
    background-color: #373737;
    line-height: 40px;
    cursor: pointer;
  }
  height: 40px;
  display: flex;
  justify-content: space-between;
}