body {
  margin: 0;
  overflow: scroll; }

.contentContainer {
  height: 100vh; }

#layout {
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s; }
  #layout .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px; }
  #layout .navContainer {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; }
  #layout a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181; }
    #layout a:hover, #layout a:focus {
      color: #f1f1f1; }
