.target {
  height: 500px;
  width: 500px;
  background-image: url("https://placedog.net/500/500");
  margin: auto;
  box-shadow: 0 0 0 5px #348b01, 0 0 0 10px #becd32, 0 0 0 15px #bbff3b52; }

.target2 {
  height: 500px;
  width: 500px;
  background-image: url("https://placedog.net/500/500");
  margin: auto;
  border: 30px solid grey;
  outline: 3px dotted white;
  outline-offset: -15px; }
