body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,sans-serif;
  height: 100vh; }

a:visited {
  color: #3d3d3d; }

.navblack {
  height: 28px;
  background-color: #545652;
  color: #d5d5d5;
  min-width: 950px;
  display: flex;
  padding-right: 10px;
  position: relative; }
  .navblack .topleftnav a {
    width: 48px; }
  .navblack .toprightnav a {
    margin: auto 15px;
    width: auto; }
  .navblack .toprightnav .accountDropdown {
    position: relative; }
    .navblack .toprightnav .accountDropdown .arrow {
      position: absolute;
      top: 12px;
      height: 0px;
      width: 0px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 3px solid #d5d5d5;
      border-bottom: 3px solid transparent; }
  .navblack .navlist {
    display: flex;
    align-items: center; }
    .navblack .navlist a {
      vertical-align: baseline;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      color: #d5d5d5; }
      .navblack .navlist a:hover, .navblack .navlist a.on {
        color: #fff; }
        .navblack .navlist a:hover .arrow, .navblack .navlist a.on .arrow {
          border-top: 3px solid #fff; }
  .navblack .toprightnav {
    margin-left: auto; }
  .navblack .downloadPopup {
    z-index: 1;
    display: none;
    width: 240px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 28px;
    right: 165px;
    flex-direction: column; }
    .navblack .downloadPopup.on {
      display: flex; }
    .navblack .downloadPopup .downloadIcon {
      width: 100px;
      margin: 50px auto 10px; }
    .navblack .downloadPopup .downloadText {
      font-size: 24px;
      font-weight: 400;
      margin: auto;
      color: black; }
    .navblack .downloadPopup .downloadQrCode {
      width: 160px;
      margin: 30px auto 10px; }
    .navblack .downloadPopup .downloadLink {
      display: flex;
      justify-content: space-between;
      margin: 10px auto 30px;
      width: 90px; }
      .navblack .downloadPopup .downloadLink a {
        text-decoration: none;
        color: #37a;
        font-size: 12px; }
      .navblack .downloadPopup .downloadLink span {
        color: black; }
  .navblack .acDropdown {
    z-index: 1;
    display: none;
    width: 90px;
    background: #fff;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 28px;
    right: 17px;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px; }
    .navblack .acDropdown.on {
      display: flex; }
    .navblack .acDropdown a {
      display: block;
      width: 90px;
      text-decoration: none;
      font-size: 12px;
      color: #3d3d3d;
      line-height: 2.5;
      text-align: center; }
      .navblack .acDropdown a:hover {
        background-color: #f3f3f3; }

.navGreen {
  width: 100%;
  min-width: 1040px;
  margin-bottom: 50px;
  background-color: #edf4ed;
  padding: 10px 0; }
  .navGreen .navGreenContainer {
    padding-top: 10px 0 5px;
    width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center; }
    .navGreen .navGreenContainer .navGreenLeft {
      display: flex;
      align-items: center;
      margin: 10px 0; }
      .navGreen .navGreenContainer .navGreenLeft .logoContainer {
        margin-left: 0; }
      .navGreen .navGreenContainer .navGreenLeft img {
        width: 150px;
        margin-right: 15px; }
      .navGreen .navGreenContainer .navGreenLeft a {
        font-size: 16px;
        color: #072;
        display: block;
        text-decoration: none;
        margin: 0 10px;
        position: relative; }
        .navGreen .navGreenContainer .navGreenLeft a:visited {
          color: #072; }
        .navGreen .navGreenContainer .navGreenLeft a:hover:not(.logoContainer) {
          color: white;
          background-color: #072; }
        .navGreen .navGreenContainer .navGreenLeft a .upperIcon {
          position: absolute;
          bottom: 20px;
          left: calc(95%);
          background-color: #fe8167;
          text-align: center;
          color: white;
          font-size: 9px;
          line-height: 7px;
          width: 17px; }
    .navGreen .navGreenContainer .navGreenRight {
      margin-left: auto;
      position: relative; }
      .navGreen .navGreenContainer .navGreenRight i {
        padding: 9px;
        position: absolute;
        top: 1px;
        right: 1px;
        color: #ccc;
        font-size: 13px; }
        .navGreen .navGreenContainer .navGreenRight i:hover {
          cursor: pointer; }
      .navGreen .navGreenContainer .navGreenRight input {
        outline: none;
        width: 278px;
        height: 28px;
        font-size: 13px;
        border: 1px solid #e1e9e1;
        padding-left: 10px; }
        .navGreen .navGreenContainer .navGreenRight input::placeholder {
          color: #cccccc; }

.mainPage {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: auto; }
  .mainPage .content {
    height: 100%;
    width: 675px; }
  .mainPage .side {
    height: 100%;
    width: 300px; }
    .mainPage .side .trending {
      background-color: #f2f7f6;
      font-size: 16px;
      padding: 16px;
      padding-bottom: 7px;
      margin-bottom: 30px; }
      .mainPage .side .trending .trendingTitle {
        color: #072; }
      .mainPage .side .trending .trendingList {
        padding: 0;
        margin-bottom: 10px; }
        .mainPage .side .trending .trendingList li {
          margin-top: 8px;
          font-size: 14px;
          list-style: none; }
          .mainPage .side .trending .trendingList li a {
            text-decoration: none;
            color: #37a; }
            .mainPage .side .trending .trendingList li a:visited {
              color: #37a; }
            .mainPage .side .trending .trendingList li a:hover {
              color: white;
              background-color: #37a; }
    .mainPage .side .doubanTime {
      margin-bottom: 30px; }
      .mainPage .side .doubanTime .timeTitle {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 12px; }
        .mainPage .side .doubanTime .timeTitle .timeTitleGreen {
          color: #072; }
        .mainPage .side .doubanTime .timeTitle .timeLink {
          font-size: 13px; }
          .mainPage .side .doubanTime .timeTitle .timeLink a {
            text-decoration: none;
            color: #37a;
            margin: 0 5px; }
            .mainPage .side .doubanTime .timeTitle .timeLink a:hover {
              color: white;
              background-color: #37a; }
      .mainPage .side .doubanTime .timeContainer {
        display: flex; }
        .mainPage .side .doubanTime .timeContainer .timeCourse {
          width: 80px;
          text-align: center;
          margin-right: 40px; }
          .mainPage .side .doubanTime .timeContainer .timeCourse img {
            width: 80px;
            margin-bottom: 10px; }
          .mainPage .side .doubanTime .timeContainer .timeCourse .mainLink {
            font-size: 13px;
            text-decoration: none;
            margin: 0 5px; }
            .mainPage .side .doubanTime .timeContainer .timeCourse .mainLink:hover {
              color: white;
              background-color: #37a; }
          .mainPage .side .doubanTime .timeContainer .timeCourse .courseNote {
            font-size: 13px;
            color: #999999;
            margin-top: 10px; }
    .mainPage .side .topics .topicTitle {
      display: flex;
      align-items: center;
      margin-bottom: 12px; }
      .mainPage .side .topics .topicTitle .topicTitleGreen {
        font-size: 16px;
        color: #072; }
      .mainPage .side .topics .topicTitle .topicLink {
        font-size: 13px; }
        .mainPage .side .topics .topicTitle .topicLink a {
          text-decoration: none;
          color: #37a;
          margin: 0 5px; }
          .mainPage .side .topics .topicTitle .topicLink a:hover {
            color: white;
            background-color: #37a; }
    .mainPage .side .topics .topicList .topicItem {
      margin-bottom: 15px; }
      .mainPage .side .topics .topicList .topicItem a {
        text-decoration: none;
        color: #37a;
        font-size: 14px; }
        .mainPage .side .topics .topicList .topicItem a:hover {
          color: white;
          background-color: #37a; }
      .mainPage .side .topics .topicList .topicItem div {
        color: #aaa;
        font-size: 13px; }
    .mainPage .side .topics .topicFunc a {
      line-height: 2;
      text-decoration: none;
      color: #37a;
      font-size: 13px; }
      .mainPage .side .topics .topicFunc a:hover {
        color: white;
        background-color: #37a; }

.content .inputContainer {
  margin-bottom: 2em; }
  .content .inputContainer .inputNav {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 2px; }
    .content .inputContainer .inputNav .inputLeftNav a {
      font-size: 14px;
      text-decoration: none;
      margin-right: 18px;
      position: relative; }
      .content .inputContainer .inputNav .inputLeftNav a:visited {
        color: #37a; }
      .content .inputContainer .inputNav .inputLeftNav a:link {
        color: #37a; }
      .content .inputContainer .inputNav .inputLeftNav a.cur {
        color: black;
        cursor: default; }
      .content .inputContainer .inputNav .inputLeftNav a.active {
        color: black;
        cursor: default;
        pointer-events: none; }
        .content .inputContainer .inputNav .inputLeftNav a.active i::after {
          content: "";
          position: absolute;
          bottom: -11px;
          left: 30px;
          height: 7px;
          width: 7px;
          border: 1px solid #ccc;
          border-width: 1px 1px 0 0;
          background: #fff;
          transform: rotate(-45deg);
          z-index: 1; }
      .content .inputContainer .inputNav .inputLeftNav a:hover:not(.cur) {
        background-color: #37a;
        color: white; }
        .content .inputContainer .inputNav .inputLeftNav a:hover:not(.cur) i {
          color: #8f9197;
          background-color: white; }
      .content .inputContainer .inputNav .inputLeftNav a i {
        padding: 1px 5px 1px 0;
        color: #8f9197; }
    .content .inputContainer .inputNav .inputRightNav {
      margin-left: auto; }
      .content .inputContainer .inputNav .inputRightNav a {
        font-size: 13px;
        text-decoration: none;
        color: #ccc; }
  .content .inputContainer .inputField.inactive .toggleInput .commentIcons {
    display: block;
    position: absolute;
    top: 8px;
    right: 15px; }
    .content .inputContainer .inputField.inactive .toggleInput .commentIcons i {
      padding-left: 5px;
      color: #8f9197; }
    .content .inputContainer .inputField.inactive .toggleInput .commentIcons span {
      display: none; }
  .content .inputContainer .inputField.comment.active .toggleInput .commentIcons {
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px; }
    .content .inputContainer .inputField.comment.active .toggleInput .commentIcons a {
      color: #8f9197;
      font-size: 13px;
      text-decoration: none; }
    .content .inputContainer .inputField.comment.active .toggleInput .commentIcons i {
      color: #8f9197;
      padding-left: 5px; }
    .content .inputContainer .inputField.comment.active .toggleInput .commentIcons span {
      padding-left: 5px;
      display: auto; }
  .content .inputContainer .inputField.pic .toggleInput {
    height: auto; }
    .content .inputContainer .inputField.pic .toggleInput label {
      display: none; }
    .content .inputContainer .inputField.pic .toggleInput textarea {
      height: 90px; }
    .content .inputContainer .inputField.pic .toggleInput .picTopic {
      display: block;
      position: absolute;
      background-color: #dedbdb;
      border-radius: 4px;
      padding: 2px 9px;
      font-size: 13px;
      line-height: 1.62;
      top: 75px;
      right: 10px; }
      .content .inputContainer .inputField.pic .toggleInput .picTopic a {
        text-decoration: none;
        color: white; }
    .content .inputContainer .inputField.pic .toggleInput .uploadField {
      display: block;
      border-top: 1px solid #d7d7d7;
      padding: 10px 0; }
      .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner {
        color: #cdcdcd;
        font-size: 13px;
        border: 3px dashed #eee;
        margin: auto;
        width: 650px;
        height: 90px;
        background-color: #fafafa;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner .dragTip {
          position: absolute;
          top: 3px;
          left: 3px; }
        .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner .uploadIcon {
          padding-top: 15px;
          text-align: center;
          color: #aaa;
          font-size: 28px; }
          .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner .uploadIcon .uploadTitle {
            font-size: 14px; }
          .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner .uploadIcon .uploadDes {
            font: 13px Helvetica,Arial,sans-serif; }
        .content .inputContainer .inputField.pic .toggleInput .uploadField .uploadInner:hover {
          background-color: #f2f2f2; }
  .content .inputContainer .inputField.recommend .toggleInput .recommendInput {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-bottom: 1px solid #d7d7d7; }
    .content .inputContainer .inputField.recommend .toggleInput .recommendInput input {
      width: 540px;
      height: 12px;
      padding: 7px 4px 6px;
      border: 1px solid #ccc;
      color: #999;
      border-radius: 1px; }
    .content .inputContainer .inputField.recommend .toggleInput .recommendInput button {
      margin-left: 5px;
      padding: 4px;
      font-size: 12px;
      border-color: #ccc;
      border-radius: 2px;
      border-width: 1px;
      border-style: solid;
      background-image: -webkit-linear-gradient(top, #fcfcfc, #e9e9e9); }
  .content .inputContainer .inputField.recommend .toggleInput label {
    top: 35px; }
  .content .inputContainer .inputField .toggleInput {
    border: 1px solid #d7d7d7;
    position: relative; }
    .content .inputContainer .inputField .toggleInput label {
      margin: 6px 0 0 9px;
      position: absolute;
      font-size: 14px;
      color: #aaa; }
    .content .inputContainer .inputField .toggleInput #inputText {
      outline: none;
      width: 670px;
      background: transparent;
      overflow: hidden;
      border: none;
      resize: none;
      padding: 7px 25px 7px 7px; }
    .content .inputContainer .inputField .toggleInput .commentIcons {
      display: none; }
    .content .inputContainer .inputField .toggleInput .picTopic {
      display: none; }
    .content .inputContainer .inputField .toggleInput .uploadField {
      display: none; }
    .content .inputContainer .inputField .toggleInput .recommendInput {
      display: none; }
  .content .inputContainer .inputField .inputBottomBar {
    display: none; }
  .content .inputContainer .inputField.active .toggleInput {
    height: auto; }
    .content .inputContainer .inputField.active .toggleInput textarea {
      height: 90px; }
    .content .inputContainer .inputField.active .toggleInput label {
      display: none; }
  .content .inputContainer .inputField.active .inputBottomBar {
    display: flex;
    height: 32px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-top: none;
    padding: 8px;
    align-items: center; }
    .content .inputContainer .inputField.active .inputBottomBar a {
      font-size: 13px;
      text-decoration: none;
      margin-right: 15px;
      margin-left: 5px;
      position: relative; }
      .content .inputContainer .inputField.active .inputBottomBar a:visited {
        color: #37a; }
      .content .inputContainer .inputField.active .inputBottomBar a:link {
        color: #37a; }
      .content .inputContainer .inputField.active .inputBottomBar a:hover {
        background-color: #37a;
        color: white; }
    .content .inputContainer .inputField.active .inputBottomBar .inputBRight {
      margin-left: auto; }

.content .statusWrapper {
  width: 100%; }
  .content .statusWrapper .statusItem {
    width: auto; }
    .content .statusWrapper .statusItem .statusHeader {
      display: flex;
      margin-bottom: 10px;
      margin-top: 20px; }
      .content .statusWrapper .statusItem .statusHeader img {
        width: 48px;
        height: 48px;
        margin-right: 20px; }
      .content .statusWrapper .statusItem .statusHeader .statusInfo {
        line-height: 1.62; }
        .content .statusWrapper .statusItem .statusHeader .statusInfo .statusInfoTop a {
          color: #555;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px; }
          .content .statusWrapper .statusItem .statusHeader .statusInfo .statusInfoTop a:hover {
            color: white;
            background-color: #37a; }
        .content .statusWrapper .statusItem .statusHeader .statusInfo .statusInfoTop .statusAction {
          font-size: 14px;
          color: #9d9d9d; }
        .content .statusWrapper .statusItem .statusHeader .statusInfo .statusInfoDetails {
          color: #555;
          font-size: 14px;
          margin-top: 10px;
          line-height: 1.62; }
    .content .statusWrapper .statusItem .statusContent {
      border-bottom: 1px solid #e5e5e5;
      padding-left: 10%;
      padding-bottom: 20px; }
      .content .statusWrapper .statusItem .statusContent .spicContainer {
        width: 354px;
        display: flex;
        flex-wrap: wrap; }
        .content .statusWrapper .statusItem .statusContent .spicContainer.collapse {
          width: 526px;
          height: auto; }
          .content .statusWrapper .statusItem .statusContent .spicContainer.collapse .spic {
            width: 100%;
            height: auto; }
            .content .statusWrapper .statusItem .statusContent .spicContainer.collapse .spic img {
              width: 100%;
              height: auto; }
        .content .statusWrapper .statusItem .statusContent .spicContainer .spic {
          cursor: pointer; }
          .content .statusWrapper .statusItem .statusContent .spicContainer .spic img {
            width: 172px;
            height: auto;
            max-width: initial; }
      .content .statusWrapper .statusItem .statusContent .picContainer {
        width: 354px;
        height: 354px;
        display: flex;
        flex-wrap: wrap; }
        .content .statusWrapper .statusItem .statusContent .picContainer .pic {
          width: 112px;
          height: 112px;
          overflow: hidden;
          margin-top: 6px;
          margin-right: 6px;
          cursor: pointer; }
        .content .statusWrapper .statusItem .statusContent .picContainer.collapse {
          width: 526px;
          height: auto; }
          .content .statusWrapper .statusItem .statusContent .picContainer.collapse .pic {
            width: 100%;
            height: auto; }
            .content .statusWrapper .statusItem .statusContent .picContainer.collapse .pic img {
              width: 100%;
              height: auto; }
      .content .statusWrapper .statusItem .statusContent .itemBlock {
        padding: 16px 20px;
        background: #f9f9f9;
        display: flex; }
        .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle {
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          font-size: 15px;
          line-height: 1.62; }
          .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle a {
            color: #37a;
            text-decoration: none;
            line-height: 1.62; }
            .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle a:hover {
              color: white;
              background-color: #37a; }
          .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle .itemRating {
            width: 55px;
            height: 11px;
            overflow: hidden;
            margin-left: 7px;
            margin-bottom: 4px;
            zoom: 1;
            display: inline-block;
            background: url(../images/ratings.png) no-repeat;
            background-size: 55px; }
            .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle .itemRating.score40 {
              background-position: 0 -22px; }
            .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle .itemRating.score0 {
              background-position: 0 -110px; }
          .content .statusWrapper .statusItem .statusContent .itemBlock .itemTitle .itemScore {
            color: #e09015;
            font-size: 14px;
            padding: 0 3px;
            margin-left: 4px; }
        .content .statusWrapper .statusItem .statusContent .itemBlock .itemDescription {
          font-size: 13px;
          color: #555;
          line-height: 1.62; }
        .content .statusWrapper .statusItem .statusContent .itemBlock .itemMeta {
          position: relative;
          padding-left: 7px;
          font-size: 13px;
          color: #555;
          line-height: 1.62; }
          .content .statusWrapper .statusItem .statusContent .itemBlock .itemMeta::before {
            content: "";
            position: absolute;
            height: 90%;
            top: 2px;
            left: 0;
            border-left: 2px solid #ddd; }
        .content .statusWrapper .statusItem .statusContent .itemBlock img {
          width: 75px;
          height: 75px;
          margin: 4px 23px 0 50px; }
          .content .statusWrapper .statusItem .statusContent .itemBlock img.game {
            height: auto; }
      .content .statusWrapper .statusItem .statusContent .functionBlock {
        line-height: 1;
        text-align: left;
        margin: 20px 0 0;
        color: #aaa;
        height: 15px;
        padding: 0;
        display: flex;
        align-items: center; }
        .content .statusWrapper .statusItem .statusContent .functionBlock a {
          color: #7094b7;
          text-decoration: none;
          line-height: 1;
          font-size: 13px;
          display: inline-block; }
          .content .statusWrapper .statusItem .statusContent .functionBlock a.time {
            color: #999;
            margin-right: 1.5em; }
            .content .statusWrapper .statusItem .statusContent .functionBlock a.time:hover {
              background: #999;
              color: white; }
          .content .statusWrapper .statusItem .statusContent .functionBlock a.func {
            margin-right: 8px; }
            .content .statusWrapper .statusItem .statusContent .functionBlock a.func.like {
              margin-right: 2px; }
            .content .statusWrapper .statusItem .statusContent .functionBlock a.func:hover {
              background: #7094b7;
              color: white; }
        .content .statusWrapper .statusItem .statusContent .functionBlock div {
          display: inline;
          line-height: 1;
          text-align: left;
          color: #aaa;
          font-size: 13px;
          margin-right: 8px;
          padding-bottom: 1px; }

.content .pagination {
  font-size: 15px;
  padding: 0;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px; }
  .content .pagination a {
    text-decoration: none; }
    .content .pagination a:visited {
      color: #669; }
    .content .pagination a.dis {
      color: grey;
      cursor: auto; }
  .content .pagination .prePage {
    margin-right: 20px;
    font: 14px Arial, Helvetica, sans-serif; }
  .content .pagination .nextPage {
    margin-left: 20px;
    font: 14px Arial, Helvetica, sans-serif; }
  .content .pagination .pageNum {
    padding: 0px 4px;
    margin: 2px;
    font-size: 15px;
    line-height: 1.5; }
    .content .pagination .pageNum.cur {
      background-color: #83BF73;
      color: white; }

footer {
  width: 1040px;
  border-top: 1px dashed #ddd;
  color: #999;
  font: 13px Helvetica,Arial,sans-serif;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 20px;
  line-height: 1.62; }
  footer a {
    text-decoration: none;
    color: #37a; }
    footer a:visited {
      color: #37a; }
    footer a:hover {
      color: white;
      background-color: #37a; }

@media (max-width: 1024px) {
  .mainPage {
    width: 1024px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px; }
  .navblack {
    width: 1024px;
    padding-right: 0; }
  .navGreen {
    box-sizing: border-box;
    width: 1024px;
    padding-left: 12px;
    padding-right: 12px; }
    .navGreen .navGreenContainer {
      min-width: 1024px;
      box-sizing: border-box;
      width: 1024px;
      padding-left: 12px;
      padding-right: 30px; }
  footer {
    width: 1024px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px; } }
